#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fade-in-with-shadow {
    from {
        opacity: 0;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    to {
        opacity: 1;
        text-shadow: none;
    }
}

body {
    background-color: #F5E1B4;
    font-family: 'Open Sans', sans-serif;
}


.animate-fade-in-with-shadow {
    animation: fade-in-with-shadow 3s ease-out;
}